
<md-toolbar class="md-menu-toolbar">
  <div layout="row">
    <md-toolbar-filler layout layout-align="center center">
      <button class="md-button md-icon-button" ng-click="loadData()">
        <i class="material-icons">search</i>
      </button>
    </md-toolbar-filler>
    <div>
      <h2 class="md-toolbar-tools"><b>Instalytics</b> - InView: {{total}}; NoLocation: {{noLocation}}; UniqueUsers: {{unique}}; TopUser: {{topUser.name}},{{topUser.count}}</h2>
      <md-menu-bar>
        <md-menu>
          <button class="md-button" ng-click="$mdOpenMenu()" aria-label="Filter">
            Filter 
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-switch style="margin-top:0;margin-bottom:0;" ng-model="filter.excludeUsers" aria-label="Exclude Users">
                  Exclude Users
              </md-switch>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item style="height: 100%">
              <md-radio-group ng-model="filter.type">
                <md-radio-button value="Views" class="md-primary">Views</md-radio-button>
                <md-radio-button value="Clicks">Clicks</md-radio-button>
                <md-radio-button value="UpVotes">UpVotes</md-radio-button>
                <md-radio-button value="DownVotes">DownVotes</md-radio-button>
                <md-radio-button value="Shares">Shares</md-radio-button>
                <md-radio-button value="Articles">Articles</md-radio-button>
                <md-radio-button value="Subarticles">Subarticles</md-radio-button>
              </md-radio-group>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <md-menu>
          <button class="md-button" ng-click="$mdOpenMenu()" aria-label="Graph">
            Graph 
          </button>
          <md-menu-content>
            <md-menu-item>
              <md-switch style="margin-top:0;margin-bottom:0;" ng-model="graph.showTotal" aria-label="Show Total">
                  Show Total
              </md-switch>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-switch style="margin-top:0;margin-bottom:0;" ng-model="graph.showOutView" aria-label="Show Out of View">
                  Show Out of View
              </md-switch>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </div>
  </div>
</md-toolbar>
<md-content flex>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>
  <canvas id="time" class="chart chart-line" chart-data="time.data" chart-labels="time.labels" chart-series="time.series"></canvas>
</md-content>
